.header {
  background-color: #d4ffa3;
  color: #498406;
  padding: 15px 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

.spacing {
  flex: 1;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
  white-space: nowrap;
  justify-self: center;
}

.nav {
  background-color: #bdff71; 
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.navLink {
  color: #498406;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navLink:hover {
  color: #ebffd4;
}

.accountTitle {
  justify-self: end;
  text-align: right;
}