/* Layout Wrapper */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Page Containers */
.landing-page {
  padding: 60px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Welcome Title */
.landing-page h1 {
  color: #ffffff; 
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Welcome Description */
.landing-page p {
  color: #ffffff;
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

.auth-page {
  padding: 40px 20px;
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
}

/* Button */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.main-btn {
  width: 500px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s;
}

.main-btn:active {
  transform: scale(0.98);
}

/* Background image */
.app-bg-container {
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-opacity, 0.5)), 
      rgba(0, 0, 0, var(--bg-opacity, 0.5))
    ), 
    url('../public/images/beach-bg.jpg');
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  transition: --bg-opacity 0.3s ease; 
}

/* Landing page */
.landing-page-theme {
  --bg-opacity: 0.4;
  color: #498406;
}

.glass-panel {
  background: #d4ffa3; 
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin: 20px auto;
  max-width: 900px;
}

/* Signup & Login page */
.signup-page {
  padding: 40px 20px;
  text-align: center;
  max-width: 500px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 15px;      
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.signup-form label {
  font-weight: bold;
  color: white;
}

.signup-input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

.signup-button {
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  border-color: #aee300;
  font-size: 16px;
  background-color: #aee300;
  color: white;
  padding: 12px;
}

/* User Consent Page */
.consent-page {
  padding: 40px 20px;
  max-width: 500px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 15px;   

}

.consent-box {
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.consent-box h2{
  text-align:center;
}

.consent-page button {
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  border-color: #aee300;
  font-size: 16px;
  background-color: #aee300;
  color: white;
  padding: 12px;
}